.definitions-slide .slide-title {
	font-family: Charter Bold;
}

.definitions-slide blockquote {
	position: relative;
	width: 560px;
	text-align: justify;
	margin: 2em auto;
	line-height: 1.1em;
	font-size: 40px;
	font-family: Charter Italic;
	opacity: 0;
	-webkit-transition: all 1.5s cubic-bezier(.4,1,.5,1) 0.5s;
	-webkit-transition: all 1.5s cubic-bezier(.5,2,.55,1) 0.5s;
	-moz-transition: all 1.5s cubic-bezier(.5,2,.55,1) 0.5s;
	-o-transition: all 1.5s cubic-bezier(.5,2,.55,1) 0.5s;
	transition: all 1.5s cubic-bezier(.5,2,.55,1) 0.5s;
}

.definitions-slide.present blockquote {
	opacity: 1;
	-webkit-transition: all 1.5s cubic-bezier(.4,1,.5,1) 0.5s;
	-webkit-transition: all 1.5s cubic-bezier(.5,2,.55,1) 0.5s;
	-moz-transition: all 1.5s cubic-bezier(.5,2,.55,1) 0.5s;
	-o-transition: all 1.5s cubic-bezier(.5,2,.55,1) 0.5s;
	transition: all 1.5s cubic-bezier(.5,2,.55,1) 0.5s;
}

blockquote:before {
	display: block;
	content: "\201C";
	font-size: 96px;
	position: absolute;
	left: -48px;
	top: 10px;
}

blockquote cite {
	font-size: 36px;
	display: block;
	margin-top: 8px;
	font-family: Charter Bold Small Caps;
	font-variant: small-caps;
}

blockquote cite:before {
	content: "\2014 \2009";
}