.step {
	width: 720px;
	height: 450px;

	//background: rgba(255, 255, 255, 0.2);

	line-height: 1;
	text-align: left;
	font-family: Titillium Web Regular, sans-serif;
	color: #9ED7FF;

	z-index: 100;

	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

.step:not(.active) {
	opacity: 0.02;
	z-index: -10;
}