#where-css .slide-content {
	opacity: 0;
	top: 32px;
	-webkit-transition: all 0.5s cubic-bezier(.4,1,.5,1) 1s;
	-moz-transition: all 0.5s cubic-bezier(.4,1,.5,1) 1s;
	-o-transition: all 0.5s cubic-bezier(.4,1,.5,1) 1s;
	transition: all 0.5s cubic-bezier(.4,1,.5,1) 1s;
}

#where-css.active .slide-content {
	-webkit-transition: all 0.5s cubic-bezier(.4,1,.5,1) 1s;
	-moz-transition: all 0.5s cubic-bezier(.4,1,.5,1) 1s;
	-o-transition: all 0.5s cubic-bezier(.4,1,.5,1) 1s;
	transition: all 0.5s cubic-bezier(.4,1,.5,1) 1s;
	opacity: 1;
}

#where-css #table {
	border-collapse: collapse;
	margin: auto;
	text-align: center;
	font-size: 24px;
	font-weight: normal;
	font-family: Titillium Web Regular;
}

#where-css #table .column-heading, #where-css #table .row-heading {
	width: 175px;
	font-weight: normal;
	font-family: Titillium Web Italic;
	height: 50px;
	border: 2px solid #2BB9D9;
}

#where-css #table td {
	width: 175px;
	height: 50px;
	border: 2px solid #2BB9D9;
}

#where-css #table tbody tr, #where-css #table tbody th, #where-css #table tbody td {
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

#where-css #table tbody tr:hover {
	font-family: Titillium Web Italic;
	background: rgba(255, 255, 255, 0.25);
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

#where-css #table tbody td:hover, #where-css #table tbody th:hover {
	font-family: Titillium Web Bold Italic;
	background: rgba(255, 255, 255, 0.1);
}

#transform-property-2d .slide-content {
	font-size: 28px;
	top: 24px;
}

#transform-property-2d #table {
	border-collapse: collapse;
	margin: auto;
	text-align: left;
	font-size: 20px;
	font-weight: normal;
	font-family: Titillium Web Regular;
}

#transform-property-2d #table td {
	height: 45px;
	border: 2px solid #2BB9D9;
}

#transform-property-2d #table .first-column {
	width: 160px;
	text-align: center;
}

#transform-property-2d .slide-content {
	margin: 0px 0px 0px 0px;
}

#transform-property-2d .demo-div {
	height: 160px;
	width: 160px;
	position: relative;
	top: 24px;
	margin: auto;
	font-family: Helvetica;
	font-size: 144px;
	text-align: center;
}

#transform-style #table {
	border-collapse: collapse;
	margin: auto;
	text-align: left;
	font-size: 24px;
	font-weight: normal;
	font-family: Titillium Web Regular;
}

#transform-style #table td {
	width: 600px;
	height: 60px;
	border: 2px solid #2BB9D9;
}

#transform-style #table .first-column {
	width: 120px;
	text-align: center;
	font-family: Titillium Web Italic;
}

#transform-origin-property #table {
	border-collapse: collapse;
	margin: auto;
	text-align: left;
	font-size: 24px;
	font-weight: normal;
	font-family: Titillium Web Regular;
}

#transform-origin-property #table td {
	width: 600px;
	height: 60px;
	border: 2px solid #2BB9D9;
}

#transform-origin-property #table .first-column {
	width: 120px;
	text-align: center;
	font-family: Titillium Web Italic;
}

#perspective-property #table {
	border-collapse: collapse;
	margin: auto;
	text-align: left;
	font-size: 24px;
	font-weight: normal;
	font-family: Titillium Web Regular;
}

#perspective-property #table td {
	width: 600px;
	height: 60px;
	border: 2px solid #2BB9D9;
}

#perspective-property #table .first-column {
	width: 120px;
	text-align: center;
	font-family: Titillium Web Italic;
}

#perspective-origin-property #table {
	border-collapse: collapse;
	margin: auto;
	text-align: left;
	font-size: 24px;
	font-weight: normal;
	font-family: Titillium Web Regular;
}

#perspective-origin-property #table td {
	width: 600px;
	height: 60px;
	border: 2px solid #2BB9D9;
}

#perspective-origin-property #table .first-column {
	width: 120px;
	text-align: center;
	font-family: Titillium Web Italic;
}

#transform-property-3d .slide-content {
	font-size: 28px;
	top: 24px;
}

#transform-property-3d #table {
	border-collapse: collapse;
	margin: auto;
	text-align: left;
	font-size: 20px;
	font-weight: normal;
	font-family: Titillium Web Regular;
}

#transform-property-3d #table td {
	height: 45px;
	border: 2px solid #2BB9D9;
}

#transform-property-3d #table .first-column {
	width: 160px;
	text-align: center;
}

#transform-property-3d .slide-content {
	margin: 0px 0px 0px 0px;
}

#transform-property-3d .demo-div {
	height: 160px;
	width: 160px;
	position: relative;
	top: 24px;
	margin: auto;
	font-family: Helvetica;
	font-size: 144px;
	text-align: center;
}